@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto';
}

.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

#fotojaime {
    width: 300px;
    height: 300px;
    background-image: url('https://picsum.photos/id/237/300/300');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


strong {
    color: rgb(74 222 128 / var(--tw-text-opacity, 1))
}

header {
    margin-bottom: 50px;
}

h2 {
    margin-top: 50px;
}

.intro, .subtitulo {
    font-size: 25px;
}

.intro {
    text-align: justify;
}

#about {
    margin-top: 50px;
    ;
}

@keyframes go-right-left {

    /* dale un nombre: "go-left-right" */
    from {
        right: 100%;
    }

    /* animar desde la izquierda: 0px */
    to {
        right: calc(100% - 100%);
    }

    /* animar a la izquierda: 100%-50px */
}

.progress {
    animation: go-right-left 3s infinite alternate;
    /*aplicarlaanimación"go-left-right"alelementoduración3segundosnúmerodeveces:;
    infinitasalternarladireccióncadavez*/
    position: relative;
    border: 2px solid rgb(74 222 128 / var(--tw-text-opacity, 1));
    width: 100%;
    height: 4px;
    background: rgb(74 222 128 / var(--tw-text-opacity, 1));
    -webkit-animation: go-right-left 3s infinite alternate;
}

/* restricción para pantallas moviles */
@media (min-width: 768px) {
    #tarjeta:hover {
        transform: scale(1.1);
    }

    #formacion:hover {
        transform: translateY(-5px);
    }

    #fotojaime:hover {
        transform: scale(1.3);
    }

    .hover-highlight:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.3s;
        transition: transform .2s;
    }

    #tarjeta {
        transition: transform .2s;
    }
}